.box-layout {
    background: url('/images/bg.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-layout__box {
    background: fade-out(rgb(184, 184, 184), .15);
    border-radius: 8px; 
    padding: $l-size $m-size;
    width: 30rem;
    text-align: center;
}

